.myInput{
  font-size:  2em;
  border: 1px solid #eee;
  letter-spacing: 0.5em;
  text-align: center;
  margin-bottom: 20px;
}
.gameArea , select{
  margin: auto;
  margin-bottom:10px;
  text-align: center;
}
button:hover {
  background-color:darkred;
  color:white;
  cursor: grab;
}
button {
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: red;
  color:white;
  border-radius: 10px;
}